/* 
============
Font
============
*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

/* 
============
Variables
============
*/
:root {
    --clr-dark: #222222;
    --clr-cold-light-grey: #ccd4dc;
    --clr-cold-grey: #7c839c;
    --clr-accent: #49a6e9;
    --clr-white: #fff;
    --clr-gold: #bd9b3b;
    --font: "Commissioner", sans-serif;
    --font-cursive: "Henny Penny", cursive;
    --transition: all 0.3s ease-out;
    --radius: 0.5rem;
    --spacing: 0.2rem;
    --shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
}

/* 
============
Global
============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background-color: #f1f5f8;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--clr-accent);
}

h1 {
    font-size: 3rem;
}

h4 {
    color: var(--clr-accent);
}

p {
    font-size: 0.875rem;
}

.btn {
    border-radius: var(--radius);
    border: 3px solid var(--clr-dark);
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    transition: var(--transition);
    margin: 2rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.btn:hover {
    background-color: transparent;
    color: var(--clr-dark);
}

.underline {
    width: 6rem;
    height: 0.5rem;
    background-color: var(--clr-accent);
    margin: 0.5rem auto;
}

img {
    width: 100%;
    display: block;
    /* object-fit: cover; */
}

video {
    width: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }
}
.--section {
    padding: 5rem 0;
}

.--section-centered {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}
/* 
============
Main
============
*/

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.--section-centered {
    max-width: 992px;
}

.gift__info h3 {
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.gift__info h4 {
    margin-bottom: 2rem;
}

.gift__info p {
    color: var(--clr-cold-grey);
    margin-bottom: 2.5rem;
}

.gift__deadline {
    max-width: 25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
}

.gift__count-down {
    background: var(--clr-dark);
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    text-align: center;
}

.gift__count-down h4 {
    color: var(--clr-white);
    margin: 0;
    font-size: 1.75rem;
    line-height: 1;
}

.gift__count-down span {
    color: var(--clr-white);
    /* font-size: 0.75rem; */
}

@media screen and (min-width: 768px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
