/* 
============
Font
============
*/
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

/* 
============
Variables
============
*/
:root {
    --clr-dark: #222222;
    --clr-cold-light-grey: #ccd4dc;
    --clr-cold-grey: #7c839c;
    --clr-accent: #49a6e9;
    --clr-white: #fff;
    --clr-gold: #bd9b3b;
    --font: "Commissioner", sans-serif;
    --font-cursive: "Henny Penny", cursive;
    --transition: all 0.3s ease-out;
    --radius: 0.5rem;
    --spacing: 0.2rem;
    --shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
}

/* 
============
Global
============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background-color: #f1f5f8;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--clr-accent);
}

h1 {
    font-size: 3rem;
}

h4 {
    color: var(--clr-accent);
}

p {
    font-size: 0.875rem;
}

.btn {
    border-radius: var(--radius);
    border: 3px solid var(--clr-dark);
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    transition: var(--transition);
    margin: 2rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

.btn:hover {
    background-color: transparent;
    color: var(--clr-dark);
}

.underline {
    width: 6rem;
    height: 0.5rem;
    background-color: var(--clr-accent);
    margin: 0.5rem auto;
}

img {
    width: 100%;
    display: block;
    /* object-fit: cover; */
}

video {
    width: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1rem;
    }
}

.--section {
    padding: 5rem 0;
}

.--section-centered {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

/* 
============
Main
============
*/
.grocery {
    background: var(--clr-white);
    margin-top: 5rem;
    padding: 2.5rem;
    max-width: 35rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.grocery__form {
    text-align: center;
}

.alert {
    border-radius: 0.38rem;
    margin-bottom: 0.5rem;
    height: 1.5rem;
    transition: var(--transition);

}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
    transition: var(--transition);
}

.alert-success {
    color: #155724;
    background: #d4edda;
    transition: var(--transition);
}

.grocery__form h3 {
    font-size: 1.75rem;
    color: var(--clr-accent);
}

.grocery__input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.grocery__input {
    margin: 1rem 0;
    border: none;
    background: #f1f5f8;
    padding: 0.75rem 0.75rem;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.grocery__btn-submit {
    border: none;
    padding: 0.75rem 0.75rem;
    background: var(--clr-dark);
    color: var(--clr-white);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    transition: var(--transition);
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    cursor: pointer;
}

.grocery__btn-submit:hover {
    background: var(--clr-accent);
    color: var(--clr-dark);
}

.grocery__list-container {
    visibility: hidden;
    transition: var(--transition);
    margin-top: 1.25rem;
}

.--show-grocery-list {
    visibility: visible;
}

.grocery__item {
    margin: 0 0.5rem 1.75rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    text-transform: capitalize;
    align-items: center;
    font-size: 1.25rem;
    transition: var(--transition);
}

.grocery__item:hover {
    background: d4edda;
}

.grocery__controls button {
    border: none;
    background: transparent;
    margin: 0 0.25rem;
    font-size: 1rem;
}

.grocery__edit {
    color: var(--clr-accent);
    cursor: pointer;
    transition: var(--transition);
}

.grocery__edit:hover {
    color: var(--clr-dark);
}


.grocery__delete {
    transition: var(--transition);
    cursor: pointer;
}

.grocery__delete:hover {
    color: #a00;
}

.grocery__btn-clear {
    display: block;
    margin: 0 auto;
    border: none;
    font-weight: normal;
}

.grocery__btn-clear:hover {
    color: var(--clr-dark);
    background: var(--clr-accent);
}